body{
    margin-left:2px;
}

.chat{
    background-color:aliceblue ;
    padding: 2px;
    border-radius:1px ;
    display:inline-block;
}

.msg{
    background-color:mediumseagreen ;
    color:white;
    padding:5px 8px;
    border-radius: 2px ;
}